extends layouts/app 

block seo 
  title About - Facebook Clone
  meta(property='og:title', content='About - Facebook Clone')
  meta(name='description', content='This page tells you more about the Facebook clone site with enhanced features')
  meta(property='og:description', content='About - Facebook Clone')
  meta(property='og:image', content='https://codingphase.com/img/websitethumb.png')
  meta(name='twitter:card', content='summary_large_image')
  meta(property='og:site_name', content='CodeSpecs LLC')
  meta(name='twitter:image:alt', content='About - Facebook Clone')
  meta(name='twitter:site', content='@WoleAdewumi')
  meta(property='og:url', content='https://codingphase.com')
  link(rel="canonical" href="/about")

block content
  #about-page
    h1 About Page
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  script(src='/js/dist/main.js')