extends layouts/app 

block seo 
  title Facebook Clone
  meta(property='og:title', content='Facebook Clone')
  meta(name='description', content='This is a clone of the Facebook site with enhanced features')
  meta(property='og:description', content='This is a Facebook clone built collaboratively with Web Dev guru - Joe Santos Garcia')
  meta(property='og:image', content='https://codingphase.com/img/websitethumb.png')
  meta(name='twitter:card', content='summary_large_image')
  meta(property='og:site_name', content='CodeSpecs LLC')
  meta(name='twitter:image:alt', content='This is a facebook clone.')
  meta(name='twitter:site', content='@WoleAdewumi')
  meta(property='og:url', content='https://codingphase.com')
  link(rel="canonical" href="/")

block content
  section#top-area
    .profile-info
      .user-img
        img(src='https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg')
      .user-details
        h3 Chloe Grace Moretz
        a(href='update.html') Update Info
        a(href='view.html') View Activity
  section#content-area
    .side-column
      .widget-box.intro
        .head
          .widget-icon-container
            .widget-icon
              i.fa.fa-globe
          .widget-title Intro
        .body
          h6
          p
          p
          p
          a(href='#') Update Info
      .widget-box.photos
        .head
          .widget-icon-container
            .widget-icon
              i.fa.fa-globe
          .widget-title Intro
        .body
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
      .widget-box.friends
        .head
          .widget-icon-container
            .widget-icon
              i.fa.fa-globe
          .widget-title Intro
        .body
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
          div(style='\
          display: inline-block;\
          float: left;\
          width: 33.33%; \
          height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
          no-repeat center center;\
          -webkit-background-size: cover;\
          -moz-background-size: cover;\
          -o-background-size: cover;\
          background-size: cover;')
    .main-area
      .widget-box.submenu
        ul
          li
            i.fa.fa-clock-o
            span timeline
          li
            i.fa.fa-address-card
            span about
          li
            i.fa.fa-users
            span friends
          li
            i.fa.fa-image
            span photos
          li
            i.fa.fa-chevron-circle-down
      .widget-box.post
        .head
          .user-img-container
            .user-img
          .post-info
            span.user-info
              a(href='#') Chloe Grace Moretz
              |  shared a 
              a(href='#') link
            span.post-date Feb 19 at 10:35 AM via Instagram
        .body
          .post-img
            img(src='img/meme.png')
          .top-icons
            i.fa.fa-thumbs-o-up
            i.fa.fa-share
            span
              i.fa.fa-comment 1
          .post-comments
            .user-img
              img(src='https://randomuser.me/api/portraits/men/91.jpg')
            .user-comment
              .user-info
                a(href='') John Doe
                span.time 11:09 AM
              p
                | Hey this is funny great meme!!!
          .post-form
            .user-img
              img(src='https://randomuser.me/api/portraits/men/91.jpg')
            .form-info
              input(type='text', placeholder='write a comment')
              .icons
                i.fa.fa-camera
                i.fa.fa-meh-o

  script(src='/js/dist/main.js')