doctype html
html(lang='en')
  head
    title CodingPhase - Learn To Code and Get Paid ASAP!
    meta(property='og:title', content='CodingPhase - Learn To Code and Get Paid ASAP!')
    meta(name='description', content='Learn how to code from the best platform by building real projects that will help you land the dream job and get a high paying salary')
    meta(property='og:description', content='Learn how to code from the best platform by building real projects that will help you land the dream job and get a high paying salary')
    meta(property='og:image', content='https://codingphase.com/img/websitethumb.png')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:site_name', content='CodingPhase LLC')
    meta(name='twitter:image:alt', content='Learn how to code from one of the best platforms online.')
    meta(name='twitter:site', content='@codingphase')
    meta(property='og:url', content='https://codingphase.com')
    link(rel='canonical', href='/')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#ad38f1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Expires', content='0')
    link(rel='apple-touch-icon', sizes='120x120', href='/img/icons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/icons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/img/iconsfavicon-16x16.png')
    link(rel='mask-icon', href='/img/icons/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='manifest', href='/manifest.json')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    script(async='', defer='', src='https://buttons.github.io/buttons.js')
  body
    header
      .logo-area
        a(href='index.html') Logo
      .menu
        ul
          li
            a(href='chloe.html') Chloe
          li
            a(href='home.html') Home
      .icon-links
        ul.quick-options
          li
            a(href='home.html')
              i.fa.fa-users
          li
            a(href='home.html')
              i.fa.fa-comments
          li
            a(href='home.html')
              i.fa.fa-bell
        .privacy
          i.fa.fa-lock
      .search-area
        ul
          li
            i.fa.fa-search
          li
            input(type='text')
          li
            i.fa.fa-times
    section#top-area
      .profile-info
        .user-img
          img(src='https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg')
        .user-details
          h3 Chloe Grace Moretz
          a(href='update.html') Update Info
          a(href='view.html') View Activity
    section#content-area
      .side-column
        .widget-box.intro
          .head
            .widget-icon-container
              .widget-icon
                i.fa.fa-globe
            .widget-title Intro
          .body
            h6
            p
            p
            p
            a(href='#') Update Info
        .widget-box.photos
          .head
            .widget-icon-container
              .widget-icon
                i.fa.fa-globe
            .widget-title Intro
          .body
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
        .widget-box.friends
          .head
            .widget-icon-container
              .widget-icon
                i.fa.fa-globe
            .widget-title Intro
          .body
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='\
            display: inline-block;\
            float: left;\
            width: 33.33%; \
            height: 110px; background: url(http://hdwpro.com/wp-content/uploads/2017/03/Mountain-Mountains-Wallpaper.jpg)\
            no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
      .main-area
        .widget-box.submenu
          ul
            li
              i.fa.fa-clock-o
              span timeline
            li
              i.fa.fa-address-card
              span about
            li
              i.fa.fa-users
              span friends
            li
              i.fa.fa-image
              span photos
            li
              i.fa.fa-chevron-circle-down
        .widget-box.post
          .head
            .user-img-container
              .user-img
            .post-info
              span.user-info
                a(href='#') Chloe Grace Moretz
                |  shared a 
                a(href='#') link
              span.post-date Feb 19 at 10:35 AM via Instagram
          .body
            .post-img
              img(src='img/meme.png')
            .top-icons
              i.fa.fa-thumbs-o-up
              i.fa.fa-share
              span
                i.fa.fa-comment 1
            .post-comments
              .user-img
                img(src='https://randomuser.me/api/portraits/men/91.jpg')
              .user-comment
                .user-info
                  a(href='') John Doe
                  span.time 11:09 AM
                p
                  | Hey this is funny great meme!!!
            .post-form
              .user-img
                img(src='https://randomuser.me/api/portraits/men/91.jpg')
              .form-info
                input(type='text', placeholder='write a comment')
                .icons
                  i.fa.fa-camera
                  i.fa.fa-meh-o
